<form action="/photographers" method="post">
	<label for="">name</label>
	<input type="text" name="name">

	<label for="">image_url</label>
	<input type="text" name="image_url">
	
	<button>Create</button>
	
</form>