


<h1>List of photographers you searched for:</h1>
<div class="container">

	<% @photographers.each do |photographer| %>
		<p>
			<a href="">
			<%= photographer.name %>
			</a>
		</p>
	<% end %>
	
</div>






