		<h2>Sign up</h2>
		<form action="/signup" method="post">
			<label for="">name</label>
			<input type="text" name="name">
			<label for="">email</label>
			<input type="text" name="email">
			<label for="">password</label>
			<input type="text" name="password">
			<button>Sign up</button>	
		</form>	
		<p>Already have an account?<a href="/">log in</a></p>


